@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  color: #f8f8f8;
  background: #131318;
}

body input,
body textarea {
  color: black;
}

a {
  color: #5ba4f8;
}

a:hover {
  border-bottom: 1px solid;
}

p {
  margin: 8px 0;
}

code,
pre {
  color: #ffa500;
}

pre {
  background-color: black;
  color: #39ff14;
}

li {
  padding: 4px;
}
