@tailwind base;
@tailwind components;
@tailwind utilities;

/* Background and Text */
body {
  color: #A4A48D; /* Earthy Green */
  background: #4E4B37; /* Earthy Brown */
}

/* Input and Textarea */
body input,
body textarea {
  color: #2C2B26; /* Darker Earthy Brown */
}

/* Links */
a {
  color: #6B8E23; /* Olive Green */
}

a:hover {
  border-bottom: 1px solid #A4A48D; /* Border with Earthy Green */
}

/* Paragraphs */
p {
  margin: 8px 0;
  color: #A4A48D; /* Earthy Green */
}

/* Code Elements */
code,
pre {
  color: #556B2F; /* Dark Olive Green */
}

/* Preformatted Text */
pre {
  background-color: #2E8B57; /* Sea Green */
  color: #A4A48D; /* Earthy Green */
}

/* List Items */
li {
  padding: 4px;
  color: #A4A48D; /* Earthy Green */
}

